<form method="get" action="http://localhost:9000/processRequest">
<input type="text" name="firstName"/><br><br>
<input type="text" name="lastName"/><br><br>
<input type="submit" value="login"/><br><br>
</form>